ion-content {
    --background: #fff;
}

.section-title h3 {
    color: #5b7c55;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.category-card {
    border: 1px solid #5b7c55;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;

    .icon-info {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #5b7c55;
        font-size: 20px;
        z-index: 10;
    }

    .image-container {
        width: 80px;
        height: 80px;
        margin: 10px auto;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-content {
        h4 {
            color: #333;
            font-size: 14px;
            font-weight: 600;
            margin: 5px 0;
        }

        p {
            color: #666;
            font-size: 10px;
            margin: 0 0 10px;
        }

        .ver-plantas-btn {
            background: #5b7c55;
            color: white;
            border: none;
            border-radius: 20px;
            padding: 5px 15px;
            font-size: 12px;
            width: 100%;
            // max-width: 120px;
        }
    }
}