<div class="login-container">
    <div class="login-card">

        <!-- Left Section: Form -->
        <div class="form-section">
            <h2 class="login-title">Iniciar Sesión</h2>

            <form class="login-form">

                <!-- Custom Input 1: Email -->
                <div class="input-wrapper">
                    <mat-icon>mail_outline</mat-icon>
                    <input type="email" class="custom-input" placeholder="Correo">
                </div>

                <!-- Custom Input 2: Password -->
                <div class="input-wrapper">
                    <mat-icon>lock_outline</mat-icon>
                    <input type="password" class="custom-input" placeholder="Contraseña">
                </div>

                <button (click)="goToDashboard()" type="button" class="login-btn">
                    Iniciar Sesión
                </button>
            </form>
        </div>

        <!-- Right Section: Image -->
        <div class="image-section">
            <div class="logo-container">
                <img src="/assets/shared/images/logo.jpg" alt="Logo" />
            </div>
        </div>

    </div>
</div>