/* Actions Bar */
.actions-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
    border: none;
}

.search-box {
    background: white;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    width: 350px;
    height: 48px;
}

.search-icon {
    margin-right: 0.5rem;
    color: #333;
    font-weight: bold;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
}

.btn-add {
    background-color: #56774f;
    color: white;
    border: none;
    padding: 0 2rem;
    border-radius: 24px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 48px;
    font-size: 0.85rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-add:hover {
    background-color: #456240;
}