ion-header {
    ion-toolbar {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
        padding-top: 10px;
        padding-bottom: 10px;
    }
}



:host {
    ion-content {
        --background: #ffffff;
        --color: #333333;
    }
}

.login-content {
    --background: #ffffff;
}

.logo-container {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    transition: all 0.5s ease-in-out;

    &.shrink {
        height: 15%; // Shrink when registering
        
        .logo-placeholder {
            width: 80px;
            height: 80px;
        }
    }

    .logo-placeholder {
        width: 330px;
        height: 350px;
        transition: all 0.5s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.form-container {
    background: white;
    height: 55%; // Default
    min-height: 55%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 30px;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;

    &.expand {
        height: 85%; // Expand when registering
        min-height: 85%;
    }
}

.segment-container {
    margin-bottom: 30px;

    ion-segment {
        background: var(--ion-color-primary);
        border-radius: 25px;
        padding: 2px;

        ion-segment-button {
            --color: white;
            --color-checked: var(--ion-color-primary);
            --background-checked: white;
            --border-radius: 23px;
            font-weight: 500;
            min-height: 35px;
        }
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.custom-input {
    --background: #e8eaf0;
    /* Slightly darker gray for better visibility */
    --border-radius: 12px;
    --padding-start: 15px;
    --min-height: 55px;
    border-radius: 12px;
    border: 1px solid #d1d5db;

    ion-input {
        --placeholder-color: #777;
        --color: #333;
        color: #333;
        /* Fallback */
    }
}

.button-container {
    .submit-btn {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
        height: 50px;
        font-size: 16px;
        font-weight: 600;
        --box-shadow: 0 4px 10px rgba(93, 117, 84, 0.3);
    }
}