.transparent-toolbar {
    --background: transparent;
    --color: white;
    /* Postion absolute removed to fix overlap */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
}

.app-title {
    font-weight: 700;
    letter-spacing: 1px;
}