<app-header title="Planta Vision"></app-header>

<ion-content [fullscreen]="true" class="ion-padding main-content">
  <div class="background-image"></div>
  <div class="center-container">
    <div class="glass-card">
      <ion-icon name="leaf" class="logo-icon"></ion-icon>
      <ion-text>
        <h1>Identifica tu Planta</h1>
        <p>Captura una foto para analizar sus propiedades medicinales.</p>
      </ion-text>

      <div class="action-area">
        <ion-button *ngIf="!isScanning" (click)="scanPlant()" expand="block" shape="round" size="large"
          class="scan-button">
          <ion-icon slot="start" name="scan"></ion-icon>
          Escanear Ahora
        </ion-button>

        <div *ngIf="isScanning" class="scanning-loader">
          <ion-spinner name="crescent"></ion-spinner>
          <p>Analizando...</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>